.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5vw 0;
}

.section p {
  text-indent: 20px;
}

.section__title {
  font-size: 2.625rem;
  line-height: calc(1.2 + var(--extra-line-height));
}

.section__location {
  margin: 10px 0 26px;
  color: var(--color-gray);
}

.section__description {
  position: relative;
  margin-bottom: 50px;
  font-size: 1rem;
  line-height: calc(1.8 + var(--extra-line-height));
}

.section__description::before {
  display: block;
  width: 180px;
  height: 3px;
  margin: 15px 0 35px;
  background-color: var(--color-red);
  content: "";
}

.section__description p + p {
  margin-top: 16px;
}

.section__description h3 {
  margin-top: 24px;
}

.section__image {
  flex-shrink: 0;
  width: 100%;
  height: auto;
}

.section__iframe {
  aspect-ratio: 560 / 315;
}

.section__image img {
  width: 100%;
  border-radius: 3px;
}

/* color themes */

.color-theme-enabled .section__location {
  color: unset;
}

/* no-image */

.no-images .section__location {
  color: unset;
}
